server:
  port: 6868
  servlet:
    context-path: /api/v1

spring:
  application:
    name: student-management

  profiles:
    default: dev

  security:
    jwt:
      expiration-seconds: 3600

  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT:587}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
    default-encoding: UTF-8

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false