@import "tailwindcss";
@plugin "@tailwindcss/forms";

@theme {
  --color-primary: #f49d25;
  --color-primary-dark: #e08510;
  --color-background-light: #f8f7f5;
  --color-background-dark: #221a10;
  --color-surface-light: #ffffff;
  --color-surface-dark: #1c160d;
  --color-text-main-light: #1c160d;
  --color-text-main-dark: #f8f7f5;
  --color-text-muted-light: #9c7a49;
  --color-text-muted-dark: #b09b78;
  --color-border-light: #e8ddce;
  --color-border-dark: #3e3223;

  --font-display: "Lexend", sans-serif;
  --font-body: "Noto Sans", sans-serif;
}
